<html>
<% include parts/header.ejs %>
<body>
<% include parts/navBar.ejs %>
<!-- Content -->
<div class="container">
    <% if (locals.error) { %>
    <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if (locals.books) { %>
    <div class="row">
        <% books.forEach(function(book){ %>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="panel price panel-red">
                <div class="panel-heading  text-center">
                    <h3><%= book.name%></h3>
                </div>
                <div class="panel-body text-center">
                    <p class="lead"><strong><%= book.author %></strong></p>
                </div>
                <div class="panel-body text-center">
                    <p class="lead"><strong><%= book.info %></strong></p>
                </div>
                <div >
                    <img src=<%= book.imgLink%> width="260px" height="260px">
                </div>
                <p>Taken by: <%=book.takenBy%></p>
            </div>
        </div>
        <% }); %>
    </div>
    <% } %>
</div> <!-- ./container -->
<% include parts/footer_prim.ejs %>
</body>
</html>